<h1>Users info</h1>

<%= form_with model: @user, local:true do |f| %>
  <%#= render "devise/shared/error_messages", resouce: resouce %>

  <div class = "field">
    <%= f.label:name %><br>
    <%= f.text_field :name %>
  </div>

  <div class = "field">
    <%= f.label :image %><br>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class = "field">
    <%= f.label :introduction %><br>
    <%= f.text_field :introduction %>
  </div>

  <%= f.submit "Update User" %>

<% end %>


