<%= notice %>
<div class = "container">
  <div class = "row">
    <div class = "col-md-3">
      <%= render 'users/show', user: current_user %>
    </div>
    
    <div class = "col-md-8 offset-md-1">
      <h2>Book detail</h2>
      
      <table class = "table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @user.get_profileimage("40x40") %><br>
              <%= link_to @user.name, books_path(current_user) %>
            </td>
          
            <td><%= link_to @book.title, book_path(@book.id) %></td>
          
            <td><%= @book.body %></td>
            
            <% if @book.user == current_user %>
            <td><%= link_to "Edit", book_path(@book.id), class: 'btn btn-sucess' %></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, class: 'btn btn-denger' %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


